
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>STING : Early Detection of Independent Stroke Risk in One Minute
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- {{ url_for('static', filename='styles/style.css') }} -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
   <title>Sistem Prediksi Stroke</title>

  <!-- =======================================================
  * Template Name: STING - v4.9.1
  * Template URL: https://bootstrapmade.com/STING-free-medical-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="#hero">STING</a></h1>
      
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Pengobatan</a></li>
          <li><a class="nav-link scrollto" href="#departments">Penanganan</a></li>
          <li><a class="nav-link scrollto" href="#doctors">Our Team</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
      
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <a href="#contact" class="appointment-btn scrollto"><span class="d-none d-md-inline">Prediksi</span> Stroke</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Stroke Independent Checking</h1>
      <h2>Early Detection of Independent Stroke Risk in One Minute
      </h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose STING?</h3>
              <p>STING merupakan sebuah inovasi teknologi yang dapat digunakan untuk mendeteksi gejala stroke yang anda miliki dengan penggunaan yang mudah dan praktis
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Check Your Stroke Scale <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Kenali STROKE</h4>
                    <p>Yuk baca dan kenali STROKE</p>
                    <a href="https://p2ptm.kemkes.go.id/infographic-p2ptm/stroke/apa-itu-stroke" target="_blank" class="btn-get-started scrollto">Read More</a>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Faktor Stroke</h4>
                    <p>Cari tahu faktor penyebab Stroke</p>
                    <a href="https://www.halodoc.com/artikel/apa-saja-penyebab-stroke-ini-8-jawabannya" target= "_blank" class="btn-get-started scrollto">Read More</a>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Pencegahan</h4>
                    <p>Segera Lakukan Pencegahan</p>
                    <a href="https://www.alodokter.com/stroke/pencegahan" target="_blank" class="btn-get-started scrollto">Read More</a>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
    
  
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Kenali Tanda Tanda Stroke</h3>
            <p>Penyakit stroke terkadang terjadi secara tiba tiba. dan jika terdapat beberapa gejala stroke maka cepat bawa pasien e Rumah Sakit Terdekat agar mendapat pertolongan. Berikut merupakan tanda seseorang akan terkena Stroke</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Tiba - Tiba Lemas</a></h4>
              <p class="description">Tiba-tiba merasa lemas atau mati rasa pada lengan, wajah, atau kaki adalah tanda umum dari stroke, terutama bila hanya terjadi pada satu sisi tubuh.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Mendadak Sakit Kepala</a></h4>
              <p class="description">Bila tiba-tiba mengalami sakit kepala berat tanpa penyebab yang jelas dan disertai dengan pusing, mual, muntah, pingsan atau bahkan kejang.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Bingung</a></h4>
              <p class="description">Stroke bisa menyebabkan kebingungan yang tiba-tiba.Kemudian sulit memahami ucapan orang lain hingga sulit bicara dan mengalami kesulitan berpikir</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <div class="section-title">
          <h3>Resiko Stroke </h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="141" data-purecounter-duration="1" class="purecounter"></span>
              <p>Perempuan</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="108" data-purecounter-duration="1" class="purecounter"></span>
              <p>Laki Laki</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="498" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hypertensi</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
              <p>Merokok</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Pengobatan stroke</h2>
          <p>Setiap jenis stroke mendapatkan penanganan atau pengobatan yang berbeda disesuaikan dengan jenis kondisi dan penyebabnya.</p>
        </div>
        
        <div class="row">
          <h4 class="border border-light text-center section-bg mt-3 p-2">Stroke Iskemik</h4>
          <p class="border border-light text-center section-bg mb-4 p-2">jenis stroke yang terjadi saat aliran darah pada pembuluh arteri dalam otak mengalami penyumbatan</p>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="">Suntikan rtPA</a></h4>
              <p>Bertujuan untuk mengembalikan kondisi aliran darah menuju otak</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4><a href="">Antikoagulan</a></h4>
              <p>berfungsi untuk mencegah pembekuan darah dan gangguan irama jantung</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">Antihipertensi</a></h4>
              <p>Bertujuan untuk mengendalikan tekanan darah.</p>
            </div>
          </div>


          <h4 class="border border-light text-center section-bg mt-5 p-2">Stroke Hemoragik</h4>
          <p class="border border-light text-center section-bg mb-2 p-2">Serangan terjadi pada otak yang mengalami kebocoran atau pecahnya pembuluh darah di dalam otak, sehingga darah menggenangi atau menutupi ruang – ruang jaringan sel otak</p>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4><a href="">Obat-obatan</a></h4>
              <p>Bertujuan untuk mengurangi tekanan di otak, menurunkan tekanan darah, dan mencegah kejang.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-wheelchair"></i></div>
              <h4><a href="">Operasi</a></h4>
              <p>Bertujuan untuk mengurangi tekanan dalam otak dan memperbaiki pembuluh darah yang pecah,</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4><a href="">Pengobatan TIA</a></h4>
              <p>Mencegah penggumpalan darah atau melakukan prosedur angioplasti.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
          <div class="container section-bg">
    
            <div class="section-title section-bg">
              <h2>Prediksi Stroke</h2>
              <p>Berikut merupakan Sebuah form prediksi apakah user memiliki gejala stroke atau tidak beserta tingkat kepercayaan nya.</p>
            </div>
          </div>
    
          <div class="container ">
            <div class="row mt-5 ">

              <div class="col-lg-4 mt-5">
                <div class="info border p-5 rounded-5 section-bg">
                  <div class="address ">
                    <i class="bi bi-search "></i>
                    <h4>Prediksi</h4>
                    {% if hasil_prediksi %}
                      <p class="text-center"> Peserta tersebut diprediksi <span class="fw-bold">{{hasil_prediksi}} </span></p>
                      {% endif %}
                  </div>
    
                  <div class="email ">
                    <i class="bi bi-percent "></i>
                    <h4>Nilai Kepercayaan</h4>
                    {% if hasil_prediksi %}
                      <p class="text-center"> Presentase : <span class="fw-bold">{{nilai_kepercayaan}}% </span></p>
                      {% endif %}
                  </div>
                  
    
                 
    
                </div>
    
              </div>
    
              <div class="col-lg-8 ">
    
                    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">

      

        <form action="/predict" method="post" role="form" class=''>
          <div class="row">
            <div class="col-md-4 form-group">
              <label for="jenis_kelamin " class="form-label">Jenis Kelamin</label>
              <select class="form-select mb-3 rounded-pill" name="jenis_kelamin" id="jenis_kelamin" required>
                <option value="" selected disabled>Pilih salah satu</option>
                <option value="0">Perempuan</option>
                <option value="1">Laki Laki</option>
                <option value="2">Lainnya</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <label for="umur" class="form-label rounded-pill">Umur :</label>
                <input type="number" name="umur" class="form-control rounded-pill" id="umur" required>
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <label for="pernah_menikah" class="form-label">Pernah Menikah</label>
              <select class="form-select mb-3 rounded-pill" name="pernah_menikah" id="pernah_menikah" required>
                <option value="" selected disabled>Pilih salah satu</option>
                <option value="0">Belum Menikah</option>
                <option value="1">Sudah Menikah</option>
              </select>
            </div>
          </div>


          <div class="row mt-1">
            <div class="col-md-4 form-group ">
              <label for="hipertensi" class="form-label">Status Hipertensi</label>
              <select class="form-select mb-1 rounded-pill" name="hipertensi" id="hipertensi" required>
                <option value="" selected disabled>Pilih salah satu</option>
                <option value="0">Tidak Pernah</option>
                <option value="1">Sudah Pernah</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <label for="penyakit_jantung" class="form-label">Status Penyakit Jantung</label>
              <select class="form-select mb-1 rounded-pill" name="penyakit_jantung" id="penyakit_jantung" required>
                <option value="" selected disabled>Pilih salah satu</option>
                <option value="0">Tidak Pernah</option>
                <option value="1">Sudah Pernah</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <label for="status_merokok">status_merokok</label>
              <select class="form-select mb-1 mt-2 rounded-pill" name="status_merokok" id="status_merokok" required>
                <option value="" selected disabled>Pilih salah satu</option>
                <option value="0">Dahulu Merokok</option>
                <option value="1">Tidak Merokok</option>
                <option value="2">Merokok</option>
                <option value="3">Tidak diketahui</option>
              </select>
            </div>
          </div>


          <div class="row mt-1">
            <div class="col-md-4 form-group mt-3">
              <label for="berat_badan" class="form-label rounded-pill">Berat Badan :</label>
                <input type="number" name="berat_badan" class="form-control rounded-pill" id="berat_badan" required>
            </div>
            <div class="col-md-4 form-group mt-3">
              <label for="tinggi_badan" class="form-label rounded-pill">Tinggi Badan :</label>
                <input type="number" name="tinggi_badan" class="form-control rounded-pill" id="tinggi_badan" required>
            </div>
            
            <div class="col-md-4 form-group mt-3">
              <label for="rata_rata_level_glukosa">Kosumsi Gula dalam Sehari</label>
              <select class="form-select mb-1 mt-2 rounded-pill" name="rata_rata_level_glukosa" id="rata_rata_level_glukosa" required>
                <option value="" selected disabled>Pilih salah satu</option>
                <option value="76.782">Sangat Jarang</option>
                <option value="120.106">Jarang</option>
                <option value="163.43">Normal</option>
                <option value="206.754">Sering</option>
                <option value="250.078">Sangat Sering</option>
              </select>
              <div class="validate"></div>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-md-4 form-group ">
              <label for="tipe_rumah" class="form-label rounded-pill">Tipe Rumah</label>
              <select class="form-select mb-1 rounded-pill" name="tipe_rumah" id="tipe_rumah" required>
                <option value="" selected disabled>Pilih salah satu</option>
                <option value="0">Kota</option>
                <option value="1">Desa</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0 ">
              <label for="tipe_pekerjaan">tipe_pekerjaan</label>
              <select class="form-select mb-3 mt-2 rounded-pill" name="tipe_pekerjaan" id="tipe_pekerjaan" required>
                <option value="" selected disabled>Pilih salah satu</option>
                <option value="0">Tidak diketahui</option>
                <option value="1">Wiraswasta</option>
                <option value="2">Pekerjaan pemerintah</option>
                <option value="3">Anak Anak</option>
                <option value="4">Tidak Bekerja</option>
              </select>
            </div>
            
            <div class="row mt-3">
              <div class="col-md-3 form-group mt-4 ml-0 ">
                <div class="text-center font-weight-bold"><button type="submit" class="btn btn-primary btn-rounded px-5 rounded-pill p-2 pl-5 pr-5 font-weight-bold ">Prediksi</button></div>
              </div>
          
            <div class="col-md-3 form-group mt-4 ml-0  ">
                <div class="text-center font-weight-bold"><button type="reset" class="btn btn-primary btn-rounded px-5 rounded-pill p-2 pl-5 pr-5 font-weight-bold ">Reset</button></div>
              </div>
            </div>
            

          </div>
          
          
          
          </form>
          
          </div>

          
          
        

      </div>
    </section><!-- End Appointment Section -->
    
              </div>
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->

    

    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>Penanganan Pertama Serangan Stroke</h2>
          <p>Pertolongan pertama perlu dilakukan untuk menurunkan risiko munculnya komplikasi akibat serangan stroke. Jika anggota keluarga atau orang sekitar mengalami stroke, segera bawa ke rumah sakit atau mencari bantuan medis. Maka dari itu, penting untuk mengenali gejala stroke agar dapat membantu pengidapnya mendapat pertolongan pertama. </p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Perbaiki Posisi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Minum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Menenangkan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Menghindari Hoax</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Segera Bawa ke Rumah Sakit</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Usahakan Pasien Berada dalam Posisi Nyaman</h3>
                    <p>Sandarkan tubuh penderita stroke dalam posisi yang senyaman mungkin agar tidak terjadi gangguan peredaran darah. Usahakan penderita stroke tersebut berada dalam posisi yang memungkinkannya untuk terus bernapas dengan lancar.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/departments-6fix.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Berikan Minum Agar Tidak Dehidrasi</h3>
                    <p>Cegah pasien dari dehidrasi dengan memberikannya segelas air putih. Jika pasien mengalami dehidrasi, pasokan oksigen menuju saraf jaringan otak akan terhambat. Ketika hal tersebut terlanjur terjadi, akan bertambah besar pula risiko kondisi pasien menjadi semakin buruk seiring berjalannya waktu.p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/departments-7fix.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ungkapkan Kata-kata yang Menenangkan</h3>
                    <p>Sembari menunggu pertolongan medis datang, cobalah untuk membuat penderita lebih rileks dengan mengungkapkan kata-kata yang menenangkan. Ungkapkan bahwa penderita dapat melalui semua ini dan pertolongan akan segera datang. Oleh karena itu, Anda pun tidak boleh panik agar tidak membuat penderita semakin panik.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/departments-8fix.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hindari Mitos Menusuk Jari Penderita dengan Jarum</h3>
                    <p>Hindari menusuk-nusuk jari pasien dengan jarum karena stroke tidak bisa sembuh dengan cara ini. Respons nyeri akibat jari ditusuk justru bisa membuat tekanan darah pasien mendadak tinggi dan memperburuk kondisi stroke. Cara ini juga berisiko tinggi karena jarum bisa jadi tidak steril.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/departments-9fix.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Menghubungi tenaga medis untuk pertolongan</h3>
                    <p>Yang juga penting sebagai bagian dari pertolongan pertama pada gejala stroke adalah segera membawa penderita ke rumah sakit. Sebelumnya, Anda dapat menghubungi Siloam Ambulance Call Center 1-500-911 untuk keadaan darurat stroke. Tetaplah tenang sambil menunggu ambulans datang sambil memantau kondisi penderita.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/departments-10fix.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->

    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Meet Our Team</h2>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              
              <div class="member-info">
                <h4>Muhammad Raihan Firmansyah</h4>
                <span>Ketua Kelompok</span>
                <p>Teknik Informatika</p>
                <p>Universitas Dian Nuswantoro</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              
              <div class="member-info">
                <h4>Khomasatun Natasya</h4>
                <span>Anggota Kelompok</span>
                <p>Geografi</p>
                <p>Universitas Negeri Semarang</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              
              <div class="member-info">
                <h4>Rico Kurniawan</h4>
                <span>Anggota Kelompok</span>
                <p>Psikologi</p>
                <p>Universitas Negeri Semarang</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              
              <div class="member-info">
                <h4>Rizqy Ichlasul Amalia</h4>
                <span>Anggota Kelompok</span>
                <p>Statistika</p>
                <p>Universitas Muhammdiyah Semarang</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              
              <div class="member-info">
                <h4>Sofi Anggi Astuti</h4>
                <span>Anggota Kelompok</span>
                <p>Statistika</p>
                <p>Universitas Muhammdiyah Semarang</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions Stroke</h2>
          <p>Beberapa pertanyaan yang sering ditanyakan seputar penyakit stroke</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Apakah penyakit stroke bisa disembuhkan? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Penyembuhan penyakit stroke ini dapat dinilai dari luas area yang menyerang otak. Stroke yang dialami penderita adalah stroke iskemik maka kemungkinan harapan untuk hidup lebih besar dan penyembuhan lebih besar. Stroke merupakan penyakit yang tidak langsung sembuh, perlu secara rutin melakukan kontrol ke dokter saraf agar dokter dapat mengevaluasi penyakit selain dengan obat-obatan yang diberikan bisa pula dengan melakukan fisioterap.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Apakah dalam kasus penyakit stroke saat pembuluh darah pecah dapat menyebabkan kematian?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Jika pecahnya pembuluh darah utama dan pembuluh darah yang besar akan menyebabkan pendarahan hebat, maka dapat menimbulkan kondisi kehabisan darah, jaringan tidak mendapatkan darah sehingga menimbulkan kematian jaringan jika jaringan mati yang organ tubuh tidak berfungsi lagi dan menyebabkan kematian.
                  </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Apakah penderita stroke boleh berendam air hangat sebagai terapi alternatif?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Beberapa penelitian menunjukkan adanya manfaat berendam air hangat bagi pasien stroke, karena air hangat dapat membantu melebarkan pembuluh darah dan relaksasi. Manfaat ini bahkan dapat disetarakan dengan latihan aerobik. Namun mengingat penderita stroke umumnya memiliki gangguan mobilitas, berendam dalam bak berisi air meningkatkan risiko terjadinya kecelakaan air seperti tersedak air (aspirasi), tenggelam, terpeleset, jatuh, dan sejenisnya.
                  </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Adakah jenis buah dan sayuranyang dapat dikonsumsi untuk menyembuhkan stroke? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Makanan yang baik untuk penderita stroke adalah makanan dengan gizi yang lengkap dan seimbang. Sayuran dan buah yang perlu dikonsumsi adalah yang bervariasi atau berwarna-warni seperti apel, wortel, lemon, pir, paprika, bayam, brokoli, terong, tomat , jeruk, pisang, atau buah naga.
                  Pada prinsipnya penderita penyakit stroke dapat mengonsumsi jus dari buah dan sayuran apa saja, asalkan beragam dan tidak disertai dengan tambahan gula yang tinggi, yang kurang baik untuk kesehatan pembuluh darah pada penderita stroke.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Apakah pipi kedutan merupakan ciri-ciri stroke ringan? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Kedutan yang terjadi tersebut dapat disebabkan karena kontraksi otot. Bila muncul pada area pipi maka dapat disebabkan karena kontraksi pada otot pipi. Sedangkan gejala stroke ringan sering kali hanya berlangsung sebentar, dalam hitungan menit hingga jam. Gejala stroke ringan dapat muncul mendadak antara lain kelemahan bagian tubuh tertentu, kesemutan, sulit bicara, keseimbangan tubuh terganggu, pingsan dan sebagainya. Bila yang dirasakan saat ini merupakan kedutan, maka umumnya bukan merupakan kondisi stroke ringan. 
  
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      
      

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>STING</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/STING-free-medical-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  

</body>

</html>